<!DOCTYPE html>
<html lang="en">

<!-- 注意，这里的渲染指的是控制台是否显示这个元素 -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../vue_data/vue.js"></script>
</head>

<body>
    <div id="app">
        年龄<input type="text" v-model="age">判断为：

        <!-- 这里在span标签中写v-if，判断是哪种类型的人 -->
        <span v-if="age <= 35">年轻人(35以下)</span>
        <span v-else-if="age > 35 && age < 60">中年人(35-60)</span>
        <span v-else>老年人(60以上)</span>

        <br><br>

        年龄<input type="text" v-model="age">判断为：
        <span v-show="age <= 35">年轻人(35以下)</span>
        <span v-show="age > 35 && age < 60">中年人(35-60)</span>
        <span v-show="age >= 60">老年人(60以上)</span>

    </div>
</body>
<script>
    //定义vue对象
    new Vue({
        el: "#app",//vue接管区域
        data: {
            age: 20
        },
        methods: {

        }
    })
</script>

</html>